    <!-- Newsletter -->
    <div
      class="bg-pcg-black text-white p-6 text-center border-t-8 border-pcg-red"
    >
      <h4 class="font-black uppercase text-2xl mb-2">The Newsletter</h4>
      <p class="text-sm text-gray-400 mb-4">
        Sign up to get the best content of the week, and great gaming deals, as
        picked by the editors.
      </p>
      <div class="space-y-2">
        <input
          type="email"
          placeholder="Your email address"
          class="w-full p-3 text-black font-bold focus:outline-none focus:ring-2 focus:ring-pcg-red text-sm"
        />
        <button
          class="w-full bg-pcg-red text-white uppercase font-black py-3 hover:bg-red-600 transition-colors text-sm tracking-wide"
        >
          Sign Up
        </button>
      </div>
      <p class="text-[10px] text-gray-500 mt-4 leading-tight">
        By submitting your information you agree to the Terms & Conditions and
        Privacy Policy and are aged 16 or over.
      </p>
    </div>
