    <!-- Sidebar Widget -->
    <div class=  "bg-gray-50 p-6 border border-gray-200">
      <div
        class="flex items-center justify-between border-b-2 border-pcg-red pb-2 mb-4"
      >
        <h4 class="text-pcg-red font-black uppercase text-xl">Trending</h4>
      </div>
      <ul class="space-y-4">
        <li class="group cursor-pointer flex gap-4">
          <span
            class="text-4xl font-black text-gray-200 group-hover:text-pcg-red transition-colors leading-none"
            >1</span
          >
          <p
            class="font-bold leading-snug group-hover:text-pcg-red transition-colors hover:underline"
          >
            Best various RPG games of 2024
          </p>
        </li>
        <li class="group cursor-pointer flex gap-4">
          <span
            class="text-4xl font-black text-gray-200 group-hover:text-pcg-red transition-colors leading-none"
            >2</span
          >
          <p
            class="font-bold leading-snug group-hover:text-pcg-red transition-colors hover:underline"
          >
            How to fix the latest Windows update bug
          </p>
        </li>
        <li class="group cursor-pointer flex gap-4">
          <span
            class="text-4xl font-black text-gray-200 group-hover:text-pcg-red transition-colors leading-none"
            >3</span
          >
          <p
            class="font-bold leading-snug group-hover:text-pcg-red transition-colors hover:underline"
          >
            The 100 best PC games of all time
          </p>
        </li>
        <li class="group cursor-pointer flex gap-4">
          <span
            class="text-4xl font-black text-gray-200 group-hover:text-pcg-red transition-colors leading-none"
            >4</span
          >
          <p
            class="font-bold leading-snug group-hover:text-pcg-red transition-colors hover:underline"
          >
            Why everyone is playing this indie gem
          </p>
        </li>
        <li class="group cursor-pointer flex gap-4">
          <span
            class="text-4xl font-black text-gray-200 group-hover:text-pcg-red transition-colors leading-none"
            >5</span
          >
          <p
            class="font-bold leading-snug group-hover:text-pcg-red transition-colors hover:underline"
          >
            Steam Summer Sale start dates leaked
          </p>
        </li>
      </ul>
    </div>
